.modalContainer{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.335);
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modalContent{
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
}

.modalTitle{
    color: #000;
    font-size: 24px;
    margin: 0;
    text-align: center;
}
.modalContentP{
    color: #000;
    font-size: 14px;
    text-align: center;
}

.buttons{
    display: flex;
    gap: 10px;
}
.modalClose, .modalAdd{
    width: 50%;
    height: 30px;
}